div#btn60
{
	font-family: Arial;
	font-size: 12px;
	line-height: 23px;
	height: 23px;
	width: 60px;
	text-align: center;
	cursor: pointer;
}
div#btn60 ul
{
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}
div#btn60 li
{
	list-style-type: none;
	display: inline;
}
div#btn60 li a
{
	text-decoration: none;
	height: 100%;
	width: 100%;
}
div#btn60 li a:link
{
    color: #000000;
	background-image:url(/images/button/btn60.gif);
}
div#btn60 li a:visited
{
	color: #000000;
	background-image:url(/images/button/btn60.gif);
}
div#btn60 li a:hover
{
    color: #000000;
	background-image:url(/images/button/btn60ov.gif);
}
div#btn60 li a:active
{
	color: #000000;
	background-image:url(/images/button/btn60ov.gif);
}



div#btn80
{
	font-family:"ו";
	font-size: 12px;
	line-height: 23px;
	height: 23px;
	width: 80px;
	text-align: center;
	cursor: pointer;
}
div#btn80 ul
{
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}
div#btn80 li
{
	list-style-type: none;
	display: inline;
}
div#btn80 li a
{
	text-decoration: none;
	height: 100%;
	width: 100%;
}
div#btn80 li a:link
{
    color: #000000;
	background-image:url(/images/button/btn80.gif);
}
div#btn80 li a:visited
{
	color: #000000;
	background-image:url(/images/button/btn80.gif);
}
div#btn80 li a:hover
{
    color: #000000;
	background-image:url(/images/button/btn80ov.gif);
}
div#btn80 li a:active
{
	color: #000000;
	background-image:url(/images/button/btn80ov.gif);
}
