# =====================================WebGlobal Config=======================================

# -----------------------------------------------------------------------------------------
# Log4j config file ,file separator use '/'
# -----------------------------------------------------------------------------------------
common.cfg.log4j-cfg=logback.xml

# -----------------------------------------------------------------------------------------
# xml config file ,file separator use '/'
# -----------------------------------------------------------------------------------------
common.cfg.server-xml=project.xml

# -----------------------------------------------------------------------------------------
# jdbc config file ,file separator use '/'
# -----------------------------------------------------------------------------------------
common.cfg.jdbc-cfg=jdbc.cfg

# -----------------------------------------------------------------------------------------
# db sql xml config file ,file separator use '/'
# -----------------------------------------------------------------------------------------
#common.cfg.sql-xml=sqlMapConfig.xml
