/** Login style **/
#login{margin-top:0px;}
/**登录界面背景*/
#login #container{background:url(../images/bg/login_body.gif) repeat-x left top; width:100%;height:768px;align:center}}

#login #header{display:none}
#login #header h1{}

#login #content{position:relative;top:220px;width:560px;height:300px; background-image:url(../images/bg/login_content.gif);background-repeat:no-repeat; align:center;left:0px !important 220px;}

#login #content .top{height:64px;width:560px;border-bottom:1px solid #E6E6E6;}
#login #content .top ul {border:0px;margin-top:12px;list-style:none;}
#login #content .top li {display:inline;margin:0px;}
/*#系统登录界面上边图片信息*/
#login #content .leftimg{position:absolute;left:20px;width:184px;height:40px;background:url(../images/logo/logo_app.gif) no-repeat;}
#login #content .rightimg{position:absolute;top:28px;left:480px;width:116px;height:24px;background:url(../images/logo/logo_symbol.gif) no-repeat;}

/*系统登录界面LOGO图标*/
#login #content .center{height:316px;width:280px;position:absolute;top:100px;left:40px;background-image:url(../images/logo/logo_login.gif);background-repeat:no-repeat;}

#login #content table{position:absolute;left:330px;top:100px;}
#login #content table th{line-height:20px;font-weight:normal; text-align:right; font-family:宋体}
#login #content table td{padding-bottom:3px;}
#login #content table td select{font-size:10pt;width:136px;}
#login #content table td input{ width:130px;font-size:9pt;height:20px}
#login #content table td a:link,#login #content table td a:visited{color:#000;line-height:20px}
#login #content table td a:hover{color:red;line-height:20px}
#login #content table tfoot td{text-align:right;padding-top:10px;}

#login #btcontent {position:absolute;width:580px;height:120px;top:540px;align:center;background-image:url(../images/bg/login_content_x.gif);background-repeat:no-repeat;}
#login #footer{display:none;}



